@font-face {
  font-family: myfonts;
  src: url('https://firebasestorage.googleapis.com/v0/b/skull-candy-48fae.appspot.com/o/Chewy-Regular.ttf?alt=media&token=59d30b3f-48a3-4707-991a-8ec59894419a');
}
h2 {
  font-size: 28px;
}

h3 {
  font-family: Verdana;
}
.titl {
  font-family: myfonts;
  align-content: center;
  text-align: center;
}
.header {
  align-content: center;
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}
input {
  align-items: center;
  margin-bottom: 5%;
}
.formcontrol {
  height: 50px;
  width: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: #8190a5 solid 1px;
}

.sub_btn {
  color: white;
  background-color: #976dd0;
  border: white 2px solid;
  height: 50px;
  width: 210px;
}

.sub_btn:hover {
  color: #976dd0;
  background-color: white;
  border-color: #976dd0;
  border-style: solid;
  transition-duration: 0.5s;
}

.formcontrol:hover {
  color: #976dd1;
  border-color: #976dd0;
}
